<h1 class="text-monospace">What do you want to ask the coach about?</h1>

<div class="container">

<form action="/answer">
  <div class="form-group">
    <input type="text" class="form-control" name="question">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
</div>

